#review_section {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px red;
}

div[id^="review_"] {
  display: flex;
  justify-content: center;
  border: solid 2px red;
}
